.dm-2 {
    width: 50%;
}

.dm-3 {
    width: 33.33%;
}

.dm-4 {
    width: 25%;
}

.dm-5 {
    width: 20%;
}

.dm-6 {
    width: 16.667%;
}

.staff-grid-container .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.staff-grid-container {
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.staff-grid-container .staff-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.staff-grid {
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.dm-6 .staff-image,
.dm-5 .staff-image,
.dm-4 .staff-image {
    height: 200px;
}

.staff-grid p+span {
    background-color: #5186b5;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 1366px) {
    .dm-6 {
        width: 25%;
    }
    .dm-5 .staff-image,
    .dm-4 .staff-image {
        height: 300px;
    }
    .dm-5,
    .dm-4 {
        width: 33.33%;
    }
    .dm-3 {
        width: 50%;
    }
}

@media screen and (max-width: 880px) {
    .dm-6 .staff-image {
        height: 300px;
    }
    .dm-6 {
        width: 33.33%;
    }
    .dm-5,
    .dm-4 {
        width: 50%;
    }
    .dm-2 {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .dm-6 {
        width: 100%;
    }
    .dm-5,
    .dm-4,
    .dm-3 {
        width: 100%;
    }
}