.team_field {
    display: inline-block;
    margin-left: -4px;
    width: 300px;
}

.doctors {
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.doctors h3 {
    font-size: 46px;
    letter-spacing: .025em;
    color: #fff;
    margin-bottom: .45em;
}

.team_field {
    vertical-align: top;
    margin-bottom: 30px;
}

.doc_wrap .container>span {
    display: none;
}

.team_field a {
    text-decoration: none !important;
}

.team_image {
    height: 290px;
    width: 290px;
    margin: 0px auto;
    border-radius: 50%;
    margin-bottom: 30px;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.team_image p {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    opacity: 0;
    letter-spacing: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

.team_image:hover:before {
    opacity: 1;
}

.team_image:before {
    left: 0px;
    height: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    position: absolute;
    content: "";
    background-color: rgba(194, 108, 54, 0.64);
    opacity: 0;
}

.team_image:hover p {
    opacity: 1;
    letter-spacing: .14em;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.team_field span {
    text-transform: uppercase;
    letter-spacing: .14em;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #fff;
    display: block;
}

.doctors {
    position: relative;
}

.doctors:before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.3;
}

.doctors .container {
    text-align: center;
    padding: 170px 20px 200px;
}

@media screen and (max-width: 880px) {
    .doc_wrap * {
        box-sizing: border-box;
    }
}